<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Skeleton</title>
	<meta name="description" content="This is the Skeleton that Ross built.">
	<meta name="author" content="Ross Hadden">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="2zvM0MQYwi9b4V2sMpBHkQHPt20qZAsARcxAv57fZTw">
	<link href="css/main.css" rel="stylesheet">
	<script src="js/modernizr.js"></script>
</head>

<body>
	<div id="main">
		<div id="content"></div>
	</div>
	
	<script src="js/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
</body>
</html>